EsercizioCampari.module/Schemas/ErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/ErrorSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/ErrorSchema">

    <element name="ErrorSchema" type="tns:ErrorSchemaType"/>
    
    <complexType name="ErrorSchemaType">
    	<sequence>
    		<element minOccurs="0" name="InvalidUser" type="string" maxOccurs="1"/>
    	</sequence>
    </complexType>
</schema>
