EsercizioCampari.module/Schemas/InvalidUser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/InvalidUser" xmlns:tns="http://www.example.org/InvalidUser" elementFormDefault="qualified">

    <element name="InvalidUser" type="tns:InvalidUserType"></element>
    
    <complexType name="InvalidUserType">
    	<sequence>
    		<element name="DenyAccess" type="string"></element>
    		<element name="TryRegistration" type="string"></element>
    	</sequence>
    </complexType>
</schema>