EsercizioCampari.module/Schemas/parameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/parameters" xmlns:tns="http://www.example.org/parameters" elementFormDefault="qualified">

    <element name="parameters" type="tns:parametersType"></element>
    
    <complexType name="parametersType">
    	<sequence>
    		<element name="username" type="string" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="category" type="string" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="password" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>